table, tr,th,td{
    border: 1px solid black;
}
th,td{
    text-align: center;
}
table .code{
    width: 10%;
}
table td.code{
    color: blue;
    cursor: pointer;
}
table .first_added{
    width: 14%;
}
table .groupon,table .retailmenot{
    width: 28%;
}
table .expire,table .used_today{
    width: 10%;
}
table th.expire,table th.used_today{
    width: 10%;
    text-align: left;
}

table thead tr .headerSortUp {
    background-image: url(../images/asc.gif) !important;
}
table thead tr .headerSortDown {
    background-image: url(../images/desc.gif) !important;
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
    background-color: #8dbdd8;
}
table thead tr .header {
    background-image: url(../images/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table thead tr th.header{
    background-color: #e6EEEE;
    border: 1px solid #FFF;
    padding: 4px;
}

div.left,div.right{
    float: left;
    width: 5%;
}
div.center{
    float: left;
    width: 90%;
}
input[type="button"]:hover{
    background-color: black;
    color: white;
}

